@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  background: #FAFAFA;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 88px;
  z-index: 10;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .nav-logo {
  height: 1.5em;
}
.navbar .container .nav-logo img {
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar .container .nav-links {
  display: flex;
}
.navbar .container .nav-links li {
  margin: 0 10px;
}
.navbar .container .nav-links li .link {
  position: relative;
  color: #9698a6;
}
.navbar .container .nav-links li .link::after {
  position: absolute;
  content: "";
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  opacity: 0;
  transition: 0.5s ease;
}
.navbar .container .nav-links li .link:hover::after {
  width: 100%;
  opacity: 1;
}
.navbar .container .hamburger {
  height: 25px;
  width: 50px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.navbar .container .hamburger .line {
  height: 2px;
  background: #2d314d;
  width: 100%;
}

.section-header {
  background: url(../images/bg-intro-desktop.svg);
  margin-top: 8vh;
  height: 75vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40vw center;
}
.section-header .container .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-header .container .header-text h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 0.5em;
}

.section-1 {
  padding: 4.5em 0;
  width: 100%;
  background: #f3f4f6;
}
.section-1 .container h2 {
  font-weight: 400;
  font-size: 1.8em;
  color: #2d314d;
  margin-bottom: 0.5em;
}
.section-1 .container .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-1 .container .features .box-feature {
  margin-top: 10px;
  width: 24%;
}
.section-1 .container .features .box-feature img {
  margin-bottom: 2em;
}
.section-1 .container .features .box-feature .global-text {
  margin: 0;
}
.section-1 .container .features .box-feature h3 {
  font-size: 1.6em;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 0.7em;
}

.section-2 {
  padding: 4.5em 0;
  width: 100%;
}
.section-2 .container h2 {
  font-weight: 400;
  font-size: 1.8em;
  color: #2d314d;
  margin-bottom: 1em;
}
.section-2 .container .cards-list {
  display: flex;
  justify-content: space-between;
}
.section-2 .container .cards-list .card {
  background: #fff;
  max-width: 300px;
  border-radius: 8px;
}
.section-2 .container .cards-list .card img {
  width: 100%;
  height: 225px;
  border-radius: 8px 8px 0 0;
}
.section-2 .container .cards-list .card .card-details {
  padding: 25px;
}
.section-2 .container .cards-list .card .card-details small {
  display: block;
  color: #9698a6;
  margin-bottom: 1em;
}
.section-2 .container .cards-list .card .card-details h4 {
  color: #2d314d;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0.8em;
}
.section-2 .container .cards-list .card .card-details .card-text {
  color: #9698a6;
}

.section-footer {
  background: #2d314d;
  width: 100%;
  padding: 3em 0;
  height: 250px;
  display: flex;
  align-items: center;
}
.section-footer .container {
  display: flex;
  justify-content: space-between;
}
.section-footer .container .left-pane {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-footer .container .left-pane .footer-logos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-footer .container .left-pane .footer-logos ul {
  display: flex;
  margin-top: 40px;
  list-style: none;
}
.section-footer .container .left-pane .footer-logos ul li {
  margin-right: 10px;
}
.section-footer .container .left-pane .footer-link-group1, .section-footer .container .left-pane .footer-link-group2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-footer .container .left-pane .footer-link-group1 li, .section-footer .container .left-pane .footer-link-group2 li {
  margin-bottom: 15px;
}
.section-footer .container .left-pane .footer-link-group1 li a, .section-footer .container .left-pane .footer-link-group2 li a {
  color: #fff;
}
.section-footer .container .left-pane .footer-link-group1 li:nth-child(3), .section-footer .container .left-pane .footer-link-group2 li:nth-child(3) {
  margin: 0;
}
.section-footer .container .footer-link-group3.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.section-footer .container .footer-link-group3.right-pane a.btn {
  width: max-content;
}
.section-footer .container .footer-link-group3.right-pane span {
  margin-top: 20px;
  display: block;
  color: #9698a6;
}

@media screen and (max-width: 768px) {
  .navbar .nav-links {
    display: none !important;
  }
  .navbar a.btn {
    display: none;
  }
  .navbar .hamburger {
    display: flex !important;
  }

  .section-1 .features {
    flex-direction: column;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.8em 2em;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

p.global-text {
  color: #9698a6;
  margin-bottom: 2.5em;
  line-height: 1.5em;
  font-size: 1.2em;
}

/*# sourceMappingURL=main.css.map */
