@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  background: #FAFAFA;
  overflow-x: hidden;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background: #fff;
  height: 88px;
  width: 100%;
  z-index: 150;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .nav-logo {
  height: 1.5em;
}
.navbar .container .nav-logo img {
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar .container .nav-links {
  display: flex;
}
.navbar .container .nav-links li {
  margin: 0 10px;
}
.navbar .container .nav-links li .link {
  position: relative;
  color: #9698a6;
}
.navbar .container .nav-links li .link::after {
  position: absolute;
  content: "";
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  opacity: 0;
  transition: 0.5s ease;
}
.navbar .container .nav-links li .link:hover::after {
  width: 100%;
  opacity: 1;
}

.hamburger {
  height: 20px;
  width: 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s;
}
.hamburger .line {
  height: 2px;
  background: #2d314d;
  width: 100%;
  transition: all 0.3s;
}

.hamburger-click .line-1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translate(9px, 6px);
  top: -3px;
  left: 8px;
}
.hamburger-click .line-2 {
  width: 0;
  opacity: 0;
}
.hamburger-click .line-3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) translate(6px, -5px);
  top: 39px;
  left: 8px;
}

.menu-mobile-container {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(45, 49, 78, 0.84) 0%, rgba(45, 49, 78, 0.38) 100%);
  padding: 0 20px;
}
.menu-mobile-container .menu-mobile {
  position: relative;
  height: 400px;
  max-width: 400px;
  left: 50%;
  top: 110px;
  transform: translateX(-50%);
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-radius: 10px;
}
.menu-mobile-container .menu-mobile .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu-mobile-container .menu-mobile .nav-links li a {
  font-size: 20px;
  color: #2d314d;
  font-weight: 500;
}

.open {
  display: block !important;
}

.overflow-hide {
  overflow: hidden;
}

.section-header {
  margin-top: 88px;
  position: relative;
}
.section-header .container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header .header-text {
  flex: 2;
}
.section-header .header-text h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 0.5em;
}
.section-header .header-bg {
  position: relative;
  flex: 3;
  height: 100%;
}
.section-header .header-bg::after {
  content: "";
  position: absolute;
  background: url("../images/image-mockups.png");
  height: 135%;
  width: 100%;
  z-index: 12;
  top: -20%;
  right: -30%;
  background-repeat: no-repeat;
}
.section-header .header-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60vw;
  background: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0, 70%;
}

.section-1 {
  padding: 4.5em 0;
  width: 100%;
  background: #f3f4f6;
}
.section-1 h2 {
  font-weight: 400;
  font-size: 1.8em;
  color: #2d314d;
  margin-bottom: 0.5em;
}
.section-1 .features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
}
.section-1 .features .box-feature {
  margin-top: 10px;
}
.section-1 .features .box-feature img {
  margin-bottom: 2em;
  display: block;
}
.section-1 .features .box-feature .global-text {
  margin: 0;
}
.section-1 .features .box-feature h3 {
  font-size: 1.6em;
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 0.7em;
}

.section-2 {
  padding: 4.5em 0;
  width: 100%;
}
.section-2 .container h2 {
  font-weight: 400;
  font-size: 1.8em;
  color: #2d314d;
  margin-bottom: 1em;
}
.section-2 .cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
}
.section-2 .cards-list .card {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
}
.section-2 .cards-list .card img {
  width: 100%;
  height: 225px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}
.section-2 .cards-list .card .card-details {
  padding: 25px;
}
.section-2 .cards-list .card .card-details small {
  display: block;
  color: #9698a6;
  margin-bottom: 1em;
}
.section-2 .cards-list .card .card-details h4 {
  color: #2d314d;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0.8em;
}
.section-2 .cards-list .card .card-details .card-text {
  color: #9698a6;
}

.section-footer {
  background: #2d314d;
  width: 100%;
  padding: 3em 0;
  height: 250px;
  display: flex;
  align-items: center;
}
.section-footer .container {
  display: flex;
  justify-content: space-between;
}
.section-footer .left-pane {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-footer .left-pane .footer-logos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-footer .left-pane .footer-logos ul {
  display: flex;
  margin-top: 40px;
  list-style: none;
}
.section-footer .left-pane .footer-logos ul li {
  margin-right: 10px;
}
.section-footer .left-pane .footer-link-group1, .section-footer .left-pane .footer-link-group2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-footer .left-pane .footer-link-group1 li, .section-footer .left-pane .footer-link-group2 li {
  margin-bottom: 15px;
}
.section-footer .left-pane .footer-link-group1 li a, .section-footer .left-pane .footer-link-group2 li a {
  color: #fff;
}
.section-footer .footer-link-group3.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.section-footer .footer-link-group3.right-pane a.btn {
  width: max-content;
}
.section-footer .footer-link-group3.right-pane span {
  margin-top: 20px;
  display: block;
  color: #9698a6;
}

@media screen and (max-width: 1200px) {
  .section-header .header-text p br {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .section-header .container {
    flex-direction: column-reverse;
  }

  .section-1 h2, .section-1 p {
    text-align: center;
  }
  .section-1 br {
    display: none;
  }
  .section-1 .features {
    grid-template-columns: 1fr 1fr;
  }
  .section-1 .features .box-feature {
    margin-bottom: 2.5em;
  }
  .section-1 .features .box-feature img {
    margin: 0 auto 2em;
  }
  .section-1 .features .box-feature h3, .section-1 .features .box-feature p {
    text-align: center;
  }

  .section-2 .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 980px) {
  .navbar .nav-links {
    display: none !important;
  }
  .navbar a.btn {
    display: none;
  }
  .navbar .hamburger {
    display: flex !important;
  }

  .section-footer {
    height: auto;
  }
  .section-footer .container {
    flex-direction: column;
  }
  .section-footer .left-pane {
    width: 100%;
    flex-direction: column;
  }
  .section-footer .left-pane .footer-logos {
    margin-bottom: 30px;
  }
  .section-footer .left-pane .footer-logos ul {
    margin-top: 20px;
  }
  .section-footer .left-pane .footer-link-group1, .section-footer .left-pane .footer-link-group2 {
    text-align: center;
  }
  .section-footer .left-pane .footer-link-group2 {
    margin-bottom: 20px;
  }
  .section-footer .right-pane {
    align-items: center !important;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .section-1 .features, .section-2 .cards-list {
    grid-template-columns: 1fr;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.8em 2em;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

p.global-text {
  color: #9698a6;
  margin-bottom: 2.5em;
  line-height: 1.5em;
  font-size: 1.2em;
}

/*# sourceMappingURL=main.css.map */
