* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0
    font-family: 'Public Sans', sans-serif

.container
    width: 80%
    max-width: 1400px
    margin: auto 


h1 
    color: $lime-green

h2 
    color: $bright-cyan

