* 
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0
    font-family: 'Public Sans', sans-serif
    background: $dimWhite

.container
    width: 80%
    max-width: 1300px
    margin: auto 

// --------------------------------------------------------------- NAVBAR --------------------------------------------------------------- //
// --------------------------------------------------------------- NAVBAR --------------------------------------------------------------- //
.navbar 
    position: fixed
    display: flex
    align-items: center
    top: 0
    left: 0
    right: 0
    background: $white
    // height: 8vh
    height: 88px
    z-index: 10

    .container 
        display: flex
        justify-content: space-between
        align-items: center

        .nav-logo
            height: 1.5em

            img 
                margin: 0
                padding: 0
                height: 100%

        .nav-links 
            display: flex

            li 
                margin: 0 10px

                .link
                    position: relative
                    color: $secondary-color

                    &::after
                        position: absolute
                        content: ""
                        bottom: -34px
                        left: 50%
                        transform: translateX(-50%)
                        height: 3px
                        width: 0
                        background: $primary-bg
                        opacity: 0
                        transition: 0.5s ease

                    &:hover
                        &::after
                            width: 100%
                            opacity: 1


        .hamburger 
            height: 35px
            width: 50px
            display: flex
            justify-content: space-around
            align-items: center
            flex-direction: column
            cursor: pointer

            .line 
                height: 2px 
                background: $primary-color
                width: 100%

// --------------------------------------------------------------- SECTION HEADER --------------------------------------------------------------- //
// --------------------------------------------------------------- SECTION HEADER --------------------------------------------------------------- //
.section-header
    background: url(../images/bg-intro-desktop.svg)
    margin-top: 8vh
    height: 75vh
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: 40vw center


    .container 
        .header-text
            position: absolute
            top: 50%
            transform: translateY(-50%)

            h1 
                font-size: 2.5em
                font-weight: 400
                color: $primary-color
                margin-bottom: .5em


// --------------------------------------------------------------- SECTION 1 --------------------------------------------------------------- //
// --------------------------------------------------------------- SECTION 1 --------------------------------------------------------------- //
.section-1
    padding: 4.5em 0
    width: 100%
    background: $grayBlue

    .container
        h2
            font-weight: 400
            font-size: 1.8em
            color: $primary-color
            margin-bottom: .5em

        
        .features
            display: flex
            align-items: center
            justify-content: space-between

            .box-feature
                margin-top: 10px
                width: 24%
                // max-width: 300px

                img 
                    margin-bottom: 2em

                .global-text
                    margin: 0

                h3 
                    font-size: 1.6em
                    font-weight: 400
                    color: $primary-color
                    margin-bottom: .7em

// --------------------------------------------------------------- SECTION 2 --------------------------------------------------------------- //
// --------------------------------------------------------------- SECTION 2 --------------------------------------------------------------- //
.section-2
    padding: 4.5em 0
    width: 100%

    .container
        h2
            font-weight: 400
            font-size: 1.8em
            color: $primary-color
            margin-bottom: 1em

        .cards-list
            display: flex
            justify-content: space-between

            .card
                background: $white
                // width: 23%
                max-width: 300px
                border-radius: 8px

                img 
                    width: 100%
                    height: 225px
                    border-radius: 8px 8px 0 0

                .card-details 
                    padding: 25px

                    small 
                        display: block
                        color: $secondary-color
                        margin-bottom: 1em

                    h4 
                        color: $primary-color
                        font-size: 1.3em
                        font-weight: 400
                        margin-bottom: .8em

                    .card-text
                        color: $secondary-color

// --------------------------------------------------------------- SECTION FOOTER --------------------------------------------------------------- //
// --------------------------------------------------------------- SECTION FOOTER --------------------------------------------------------------- //
.section-footer 
    background: $primary-color
    width: 100%
    padding: 3em 0
    height: 250px
    display: flex
    align-items: center

    .container
        display: flex
        justify-content: space-between

        .left-pane 
            width: 45%
            display: flex
            align-items: center
            justify-content: space-between

            .footer-logos 
                display: flex 
                justify-content: space-between
                flex-direction: column

                ul 
                    display: flex
                    margin-top: 40px
                    list-style: none

                    li 
                        margin-right: 10px

            .footer-link-group1, .footer-link-group2 
                display: flex
                justify-content: space-between
                flex-direction: column

                li 
                    margin-bottom: 15px
                    a 
                        color: $white
                        
                li:nth-child(3)
                    margin: 0

        .footer-link-group3.right-pane
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-end

            a.btn 
                width: max-content

            span 
                margin-top: 20px
                display: block
                color: $secondary-color

