@media screen and ( max-width: 1440px )

@media screen and ( max-width: 1200px )
    
@media screen and ( max-width: 1080px )
    .section-1 
        h2, p
            text-align: center

        br 
            display: none

        .features
            grid-template-columns: 1fr 1fr

            .box-feature
                margin-bottom: 2.5em

                img 
                    margin: 0 auto 2em

                h3, p
                    text-align: center

    .section-2 
        .cards-list
            grid-template-columns: 1fr 1fr

@media screen and (max-width: 980px)
    .navbar
        .nav-links
            display: none !important

        a.btn 
            display: none

        .hamburger
            display: flex !important

    .section-footer 
        height: auto

        .container
            flex-direction: column

        .left-pane
            width: 100%
            flex-direction: column

            .footer-logos
                margin-bottom: 30px

                ul 
                    margin-top: 20px

            .footer-link-group1, .footer-link-group2
                text-align: center

            .footer-link-group2
                margin-bottom: 20px

        .right-pane
            align-items: center !important


@media screen and ( max-width: 768px )
    

@media screen and ( max-width: 600px )
    .container
        width: 90%

    .section-1 .features, .section-2 .cards-list
        grid-template-columns: 1fr


@media screen and ( max-width: 425px )

